.a {
    background: red;
}

.b {
    background: green;
}
.c {
    background: lightskyblue;
}
.d {
    background: yellow;
}
.e {
    background: cyan;
}
.f {
    background: burlywood;
}
.g {
    background: chartreuse;
}